<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%= message %>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <form action="" method="get">
        <div>
            <input type="text" name="eye_color">
            <button name="submit">Keresés:</button>
        </div>
        <table>
            <tr>
                <th>Szem Szín</th>
                <th>Súly</th>
            </tr>
            <tr>
                <% for (let m = 0; m < macskak.length; m++){ %>
                <div>
                    <td>
                        <%= macskak.szem_szin %>
                    </td>
                    <td>
                        <%= macskak.suly %>
                    </td>
                </div>
            </tr>
            <% } %>
        </table>
        <button><a href="/cats/new">Új Cica felvétele</a></button>
    </form>
</body>

</html>